<section class="vh-100" style="background-color: #27080b">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <form
            [formGroup]="registerForm"
            (ngSubmit)="onSubmit()"
            class="card-body p-5 text-center"
          >
            <h3 class="mb-5">Sign up</h3>

            <div class="form-group mb-4">
              <label class="form-label" for="username">Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control form-control-lg"
                [ngClass]="{ 'is-invalid': submitted && f2['username'].errors }"
              />
              <div
                *ngIf="submitted && f2['username'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f2['username'].errors['required']">
                  Username is required
                </div>
              </div>
            </div>

            <div class="form-group mb-4">
              <label class="form-label" for="displayName">Display Name</label>
              <input
                type="text"
                formControlName="displayName"
                class="form-control form-control-lg"
                [ngClass]="{
                  'is-invalid': submitted && f2['displayName'].errors
                }"
              />
              <div
                *ngIf="submitted && f2['displayName'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f2['displayName'].errors['required']">
                  Username is required
                </div>
              </div>
            </div>

            <div class="form-group mb-4">
              <label class="form-label" for="email">Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control form-control-lg"
                [ngClass]="{ 'is-invalid': submitted && f2['email'].errors }"
              />
              <div
                *ngIf="submitted && f2['email'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f2['email'].errors['required']">
                  Username is required
                </div>
              </div>
            </div>

            <div class="form-group mb-4">
              <label class="form-label" for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control form-control-lg"
                [ngClass]="{ 'is-invalid': submitted && f2['password'].errors }"
              />
              <div
                *ngIf="submitted && f2['password'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f2['password'].errors['required']">
                  Password is required
                </div>
                <div *ngIf="f2['password'].errors['minlength']">
                  Password must be at least 6 charachters
                </div>
              </div>
            </div>

            <div>
              <button
                [disabled]="loading"
                class="btn btn-primary btn-lg btn-block"
                type="submit"
              >
                Register
              </button>
              <img *ngIf="loading" class="pl-3" src="" alt="" />
              <a routerLink="/register" class="btn btn-link">login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
