.home-container{
    width: 100%;
    min-height: 500px;
    background-color: #e1e1df;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.home-container-title {
    background-color: rgb(54, 1, 1);
    font-size: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    width: 70%;
    color: #e1e1df;
    justify-content: center;
    border-radius: 15px;
    margin-top: 1rem;
}

.docs-list-container {
    background-color: aqua;
    min-height: 400px;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    width: 70%;
    padding-left: 1rem;
}